{% extends "base.html" %} 
{% block content %}

<h1>SignUp</h1>
<form action="/" method="POST">
    <table>
        <tr>
            <td>
                <label>Username</label>
            </td>
            <td>
                <input type="text" name="username">
            <td>
            <td>
            	<h4 style="color:red">{{ u_error }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <label> Password</label>
            </td>
            <td>
                <input type="password" name="password">
            </td>
            <td>	
            	<h4 style="color:red">{{ p_error }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <label> Verify password</label>
            </td>
            <td>
                <input type="password" name="verify_password">
            </td>
            <td>
            	<h4 style="color:red">{{ pv_error }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <label> Email (optional)</label>
            </td>
            <td>
                <input type="email" name="email">
            </td>
            <td>
            	<h4 style="color:red">{{ em_error }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>
<hr/>
<h3>Sign Up failled. Follow the instructions and try it again.</h3>
{% endblock %}
